/***Base styles ***/

h1{
  text-align: center;
}

*{
  box-sizing: border-box;
}

#box1 {
  width: 310px;
  height: 145px;
  background-color: gray;
  font-family: sans-serif;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 30px 5px 10px 5px;
}

#box2{
  width: 310px;
  height: 145px;
  background-color: gray;
  font-family: sans-serif;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 30px 5px 10px 5px;
}

#box3{
  width: 310px;
  height: 145px;
  background-color: gray;
  font-family: sans-serif;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 30px 5px 10px 5px;
}

#p1{
  width: 95px;
  height: 22px;
  background-color: red;
  margin: 0px;
  border: 1px solid black;
  float: right;
  text-align: right;
  position: absolute;
  top:0;
  right: 0;
}

#p2{
  width: 95px;
  height: 22px;
  background-color: green;
  color: white;
  margin: 0px;
  border: 1px solid black;
  float: right;
  text-align: right;
  position: absolute;
  top:0;
  right: 0;
}

#p3{
  width: 95px;
  height: 23px;
  background-color: blue;
  margin: 0px;
  border: 1px solid black;
  float: right;
  text-align: right;
  position: absolute;
  top:0;
  right: 0; 
}

div{
  float: left;
  padding: 5px;
  position: relative;
  top: 60px;
}

/************* Large devices only *********/
@media (min-width: 992px){
  #box1 {
    width: 30%;
  }
  #box2 {
    width: 30%;
  }
  #box3 {
    width: 30%;
  }
  
}

/********** Meduim devices only ***********/
@media (min-width: 768px) and (max-width: 991px) {
  #box1 {
    width: 40%;
  }
  #box2 {
    width: 40%;
  }
  #box3{
    width: 81.5%;
      }